@import "../variables";

.room {

  display: flex;
  width: 98vw;
  height: 86vh;
  margin: auto;
  /*background-color: $glass;*/
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-around;
  flex-direction: row;
  margin-top: 12vh;
  height: 70vh;
  overflow: hidden;;

  /*border: .1em solid #21271d99;*/
  /*box-shadow: 0 25px 45px rgba(33, 39, 29, 0.75);
  border: 1px, solid rgba(200, 200, 200, 0.75);
  border-right: 1px solid rgba(200, 200, 200, 0.75);
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
  background: rgba(33, 39, 29, 0.0);*/
} 

#room--attendee{
  flex-direction: row;
}
.stage{
  display: flex;
  justify-content: space-around;

  .video-container {
    margin: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: normal;
    object-fit: fill;
    

    .video{
      max-width:30vw;
      max-height: 30vw;
      overflow:hidden;
      object-fit: fill;

      padding: 20px;
    }

    .videoactive{
      max-width:auto;
      max-height: auto;
      overflow:hidden;
      object-fit: fill;

      padding: 20px;
    }

    
  }
}
.wrapper {
  /*grid-area: stag;*/
  padding: 2em 1em 1em 1em;
  /*background: $glass;*/
  box-shadow: 0 25px 45px rgba(33, 39, 29, 0.75);
  border: 1px, solid rgba(200, 200, 200, 0.75);
  border-right: 1px solid rgba(200, 200, 200, 0.75);
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
  background: rgba(33, 39, 29, 0.75);
  border-radius: 10px;
  flex-grow: 3;
  align-content: space-around;
  justify-content: space-around;
  height: auto;
  flex-grow: 2;
  flex-direction: column;
  margin-right:5vw;
  margin-top: 2vh;
  color:white; 

  .formbtn{
    background: #fff;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
  }

}

#lattendeewrap{
  max-height: 30vh;
  margin-top: 30vh;
  max-width: 40vw;
}

#stagewrapper{
  max-height: 60vh;
  margin-top: 6vh;
  margin-left: 6vh;
  max-width: 40vw;
}

#dropdown{
  /*grid-area: drop;*/
  border-radius: 1rem;
  font-size: 1.5rem;
  height: 2rem;
  width: auto;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: auto;
  border-width: 2px;
  border-style: solid;
  border-color: $mainBlack;
  color: $mainBlack;
  background-color: $mainWhite;
  padding-bottom: 5px;
  align-self: flex-end;

}

#dropdown:clicked{
  border-color:$mainBlack;
  overflow: scroll;
}




// chat log
.chat-log {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
  width: 20vw;
  border-radius: 10px;
  margin-top: 2vh;
  margin-left:0vw; 

  box-shadow: 0 25px 45px rgba(33, 39, 29, 0.75);
  border: 1px, solid rgba(200, 200, 200, 0.75);
  border-right: 1px solid rgba(200, 200, 200, 0.75);
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
  background: rgba(33, 39, 29, 0.75);
  /*grid-area: chat;*/
  .messages{
    display: flex;
    flex-direction: column-reverse;
    background: rgba(245, 245, 248, 0.9);
    height: 70vw;
    overflow: hidden;
    border-radius: 10px;

    margin: 10px;
    mix-blend-mode: lighten;
    overflow: scroll;

  }
  #chat-form{
    height: 20vh;

    padding: 20px;

  }
  .inputbox{
    display: flex;
    flex-direction: row;
    
  }
  .chat-input {
    grid-area: send;
    display: flex;
    background: $glass;
    width:100%;
    height: auto;
    max-height: 10vh;
    margin: auto;
    border-radius: 50% 50% 0% 0%;
    padding: 20px;
  }
  #sendmsg{
    height: 45px;
    padding-left: 0px;

  }
  /*background: $glass;*/
  form{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & input {
    
    margin-left: 1em;
  }
  & button {
    padding: 0px;
    width: 4rem;
    height: 3rem;
    border-radius: 0 10%;
    color: $mainWhite;
    border-color: $mainTeal;
    background-color: $mainTeal
  }
}

// extra
.extra-comps-bar {
  /*grid-area: hang;*/
  /*background-color: $roomWhite;*/
  padding: 0.5em ;
  align-items: center;

  box-shadow: 0 25px 45px rgba(33, 39, 29, 0.75);
  border: 1px, solid rgba(200, 200, 200, 0.75);
  border-right: 1px solid rgba(200, 200, 200, 0.75);
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
  background: rgba(33, 39, 29, 0.75);
  border-radius: 10px;
  align-self: flex-end;
  flex: 1 0 100%;
  margin-bottom: 6vh;
  justify-content: space-around;
  width: 50vw;

}

.attendee-login{



}

@media only screen and (max-width: 876px) {  
  .room {
  	display: flex;
    background: transparent;
    flex-direction: column;
    justify-content: center;
    padding-top: 15vh;
    min-width: 400px
  }

  .satge{

  }

  .extra-comps-bar {
    grid-area: hang;
    background-color: $roomWhite;
    padding: 1em 0;
    align-items: center;
  }

}
