@import "./variables";

.button {
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  height: 2rem;
  width: auto;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 8rem;
  border-width: 2px;
  border-style: solid;
  border-color: $mainBlack;
  color: $mainBlack;
  background-color: transparent;
}

.button--call {
  padding: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.button--reject {
  color: $mainWhite;
  border-color: $mainRed;
  background-color: $mainRed;
}

.button--confirm {
  color: $mainWhite;
  border-color: $mainTeal;
  background-color: $mainTeal;
}

// .button--reject:hover {
//   color: $mainWhite;
//   background-color: $mainRed;
// }

// .button--confirm:hover {
//   color: $mainWhite;
//   background-color: $mainGreen;
// }

.button:focus {
  outline: none;
}

.button:disabled {
  border-style: solid;
  color: $mainBlack;
  border-color: $mainBlack;
  background-color: transparent;
  opacity: 0.3;
}