.landingLogo{
	color:#21271d99;
	font-size: 10em;
	/*width: 72vw;*/
	text-decoration: none;

}

.landingLogoLink{
 text-decoration: none;
 /*pointer-events: none;*/
 mix-blend-mode: soft-light;
 width: 75vw;
}

.landingLogoLink:hover{
	font-size: 1.01em;
 text-decoration: none;
 /*pointer-events: none;*/

 mix-blend-mode: soft-light;
 width: 75vw;
}

.loading{
	z-index: 2;
}



/*ROOM*/

.room{
	display: flex;
	margin-top: 9vh;
	height: 91vh;
}

