.newroom {
  position: relative;
  height: 10%;
  width: 100%;
  top: 20px;
  bottom: 40px;
}
.newroomcontainer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px, solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.room-list {
  position: relative;
  top: 20px;
}
