@import './variables';

article.wrapper {
  box-shadow: 0 25px 45px rgba(33, 39, 29, 0.75);
  border: 1px solid rgba(200, 200, 200, 0.75);
  border-right: 1px solid rgba(200, 200, 200, 0.75);
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
  background: rgba(33, 39, 29, 0.75);
  border-radius: 1em;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 50%;
  left: 50%;
  z-index: 5;
  margin: auto auto;
  padding: 1em 2em;
  button {
    padding: 1.5rem;
    background: transparent;
    border: none;
    border-radius: 4em;
  }
}

article.wrapper button:hover {
  background-color: $mainWhite;
}

div .transparency {
  position: fixed;
  z-index: 4;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $transparency;
}

.MuiSvgIcon-root {
  font-size: 3.5rem!important;
}

.MuiSvgIcon-colorPrimary {
  color: $mainGreen!important;
}
.MuiSvgIcon-colorSecondary {
  color: $mainRed!important;
}
