@import './variables';

article.wrapper {
  position:fixed;
  box-shadow: 0 25px 45px rgba(33, 39, 29, 0.75);
  border: 1px solid rgba(200, 200, 200, 0.75);
  border-right: 1px solid rgba(200, 200, 200, 0.75);
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
  background: rgba(33, 39, 29, 0.75);
  border-radius: 1em;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
  margin: auto auto;
  padding: 1em 2em;
  button {
    padding: 1.5rem;
    background: transparent;
    border: none;
    transition: ease-out 0.6s;
  }
}

article.wrapper button:hover {
  box-shadow: inset 0 0 0 50px $mainGreen
}

.overwrapper{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100%;
  width: 100%;
}



.MuiSvgIcon-root {
  font-size: 6em !important;
}

.MuiSvgIcon-colorPrimary {
  /*color: $mainGreen!important;*/
  color:rgba(75, 219, 192, 1) !important;

}
.MuiSvgIcon-colorSecondary {
  /*color: $mainRed!important;*/
  color:#DA624B !important;
}
