@import "./variables";

.room {
  padding: 3em;
  width: 80%;
  height: 90%;
  margin: auto;
  background: $roomBlue;
}

.stage {
  background: $glass;
  
}

.dropdown{
  padding: 0;
  background: $glass;
}

.extra-comps-bar {
  background-color: $mainGrey;
  padding: 1em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

