// media dimensions
$mobileWidth: 786px;
$tabletWidth: 1024px;
$laptopWidth: 1600px;


$mainGreen: rgb(170, 245, 49);
$mainRed: rgb(218, 98, 75);
$mainBlack: rgb(33, 39, 29);
$mainGrey:rgb(236, 236, 236);
$mainWhite: rgb(245, 245, 248);
$mainBlue: rgb(61, 155, 194);
$mainTeal: rgb(75, 219, 192);
$glass: rgba(255, 255, 255, 0.1);
$transparency: rgba(33, 39, 29, 0.2);


// Room colours

$roomTeal: rgba(75, 219, 192, 0.8);
$roomBlue: rgba(61, 155, 194, 0.65);
$roomBlack: rgba(33, 39, 29, 0.8);
$roomWhite: rgba(245, 245, 248, 0.8);
$roomGrey: rgba(236, 236, 236, 0.8);