$mainGreen: rgb(170, 245, 49);
$mainRed: rgb(218, 98, 75);
$mainBlack: rgb(33, 39, 29);
$mainGrey:rgb(248,249,250);
$mainWhite: rgb(245, 245, 248);
$mainBlue: rgb(61, 155, 194);
$mainTeal: rgb(75, 219, 192);
